@model PalletOptimization.Models.PalletGroup

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PalletGroup</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Length)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Length)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Width)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Width)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaseWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaseWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxWeight)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary" style="margin-top :10px; background-color:deepskyblue; border:none; color:white;">Edit</a> 
    <a asp-action="Index" class="btn btn-primary" style="margin-top :10px; background-color:coral; border:none; color:white;">Back to List</a>
</div>
